[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Hello_World
Exec=/usr/bin/single-instance /opt/Hello_World/bin/Hello_World
Icon=/usr/share/icons/hicolor/80x80/apps/Hello_World80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
